{% extends "base.html" %}
{% block nav %}{% endblock %}
{% block main %}
<div class="commodity">

  <div class="commodity__nav">
    <div class="commodity__nav__container">
      <ul class="crumbs-nav">
        <li><a href="#">手机</a></li>
        <li><a href="#">apple</a></li>
        <li><a href="#">iphone7</a></li>
      </ul>
    </div>
  </div>

  <div class="commodity__main">
    <div class="commodity__main__cover commodity-cover">
      <ul class="commodity-cover__main">
        <li><a href="#"><img src="https://s-media-cache-ak0.pinimg.com/564x/a7/46/99/a746996ec4b22314363be3f55f192438.jpg"></a></li>
        <li><a href="#"><img src="https://s-media-cache-ak0.pinimg.com/564x/7d/9b/a3/7d9ba3854138837bc7701ed7779e0c3e.jpg"></a></li>
        <li class="active"><a href="#"><img src="https://s-media-cache-ak0.pinimg.com/236x/a0/47/65/a04765d7418eecf39b1c0f932b81e09b.jpg"></a></li>
      </ul>
      <ul class="commodity-cover__nav">
        {% for item in range(0,5) %}
        <li><a href="#"><img src="//img13.360buyimg.com/n5/s54x54_jfs/t3271/198/1628975622/101259/6ea4ec2c/57d0c513N881221b4.jpg"></a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="commodity__main__param">
      <p class="title">邻舍 懒人沙发布艺沙发创意折叠沙发小户型榻榻米单人 米奇</p>
      <p class="price-bar">京 东 价 ￥1200 </p>
      <div class="item">运费: 0</div>
      <div class="item param-choice">
        {% for item in range(0,2) %}
        <div class="param-choice__item">
          <span>选择颜色:</span>
          <ul>
            {% for i in range(0,10) %}
            <li {% if i == 0 %}class="active"{% endif %}><a href="#">black</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
      <div class="action">

        <table class="count-box">
          <tr>
            <td class="count-box__input" rowspan="2">1</td>
            <td class="count-box__action"><i class="fa fa-angle-up"></i></td>
          </tr>
          <tr>
            <td class="count-box__action"><i class="fa fa-angle-down"></i></td>
          </tr>
        </table>

        <a class="button" href="cart.html">加入购物车</a>
      </div>
    </div>

    <div class="commodity__main__info">
      <ul class="tabs">
        <li><a href="#" class="active">商品介绍</a></li>
        <li><a href="#">商品评价</a></li>
      </ul>
      <div class="tabs-content">
        <div class="tabs-panel active">
          introduce
        </div>
        <div class="tabs-panel">
          <table class="comments">
            {% for i in range(0,6) %}
            <tr>
              <td>
                东西很COOL 无线耳机质量也不错 试听了一下耳机的音质很好 用这个经常去健身房边练边听音乐 挺方便 Very Love it！
                <span>16/10/01</span>
              </td>
              <td>Gold, small</td>
              <td>chen</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>




</div>
{% endblock %}

{% block js %}
<script>
     /*** count box **/
     $(".count-box").find("i").bind("click", function(e){
       e.preventDefault();
       var current = parseInt($(".count-box input").val());
       var index = $(this).index();
       if(index == 1){
         current++;
       }else if(index == 2){
         if(current > 1){
           current--;
         }
       }
       $(".count-box input").val(current);
     });


/** goods cover **/
$(".goods-cover .goods-cover__list li").bind("mouseover", function(e){
  //e.preventDefault();
  var index = $(this).index();
  console.log(index);
  $(".goods-cover .goods-cover__main li:eq("+index+")").addClass("active");
  $(".goods-cover .goods-cover__main li:not(:eq("+index+"))").removeClass("active");
});

  </script>
{% endblock %}
