{% extends "base.html" %}
{% block is_home %}hide{% endblock %}
{% block main %}
<div class="shops">
  <div class="shops__left">
    <div class="shops__left__search">
      <label>分类
        <select></select>
      </label>
      <label>地区
        <select><option>省份</option></select>
        <select><option>城市</option></select>
        <select><option>县区</option></select>
      </label>
      <label>关键字
        <input type="search">
      </label>
      <input type="submit" value="搜索" class="button">
    </div>
  </div>
  <div class="shops__right">
    <div class="shops__right__sort">
      <span class="goods-list__nav__count">共 20410商家</span>
      <div class="sort">
        <a href="" class="active">Hot</a>
        <a href="">New</a>
        <a href="">Price</a>
        <a href="">Sold</a>
      </div>
    </div>
    <div class="shops__right__list">
      {% for item in range(0,12) %}
      <a class="shop-card" href="shop.html">
        <img src="https://gdp.alicdn.com/imgextra/i3/1917047079/TB2tFkTbXXXXXa9XpXXXXXXXXXX_!!1917047079.png">
        <h6>Apple</h6>
        <span>高新区</span>
        <span>陈/1214234</span>
      </a>
      {% endfor %}
    </div>
    <div class="shops__right__pagination">
      <ul class="pagination">
        <li><a href="#" class="prev">Prev</a></li>
        {% for i in range(1,6) %}
        <li><a href="#" class="{% if i == 1 %}active{% endif %}">{{ i }}</a></li>
        {% endfor %}
        <li><a href="#" class="next">Next</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
