{% extends "base.html" %}
{% block main %}
<div class="checkout">
  {% include 'components/navigation/_.html' %}
  <div class="checkout__container">
  <div class="checkout__header">
    <ul>
      <li class="finished">1.我的购物车</li>
      <li class="active">2.填写核对订单信息</li>
      <li>3.成功提交订单</li>
    </ul>
    <h5>结算页</h5>
  </div>

  <form>
    <p class="checkout__title">填写并核对订单信息</p>
    <div class="checkout__main">
      <h6>收货人信息<a href="#">新增收货地址</a></h6>
      <div class="checkout__item">
        <ul class="checkout__address toggle">
          {% for i in range(0,4) %}
          <li>
            <input type="radio" name="address" id="address_{{ i }}" {% if loop.first %}checked{% endif %}>
          <label for="address_{{ i }}">家里</label>
          <p>姓名 京城宣武门 155****0000</p>
          <p>
          <a href="#">设为默认地址</a>
          <a href="#">编辑</a>
          <a href="#">删除</a>
          </p>
          </li>
          {% endfor %}
        </ul>
        <a class="address__toggle" href="#">更多地址</a>
      </div>

      <!-- pay method -->
      <h6>支付方式</h6>
      <div class="checkout__item">
        {% for i in ['货到付款','微信支付','支付宝支付','银联支付'] %}
        <input type="radio" name="pay_method" id="pay_{{ i }}" {% if loop.first %}checked{% endif %}>
        <label for="pay_{{ i }}">{{ i }}</label>
        {% endfor %}
      </div>
      <!-- pay method end -->


      <!-- pay checklist -->
      <h6>送货清单</h6>
      <div class="checkout__item checkout__commodity">
        <table>
          {% for i in range(0,2) %}
          <tr>
            <td>{% include 'components/card/_.html' %}</td>
            <td>1200</td>
            <td>x1</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <!-- pay checklist end -->

  </div>

  <!-- checkout footer -->
  <table class="checkout__info">
    <tr><td>1 件商品，总商品金额：</td><td>￥4888.00</td></tr>
    <tr><td>运费：</td><td>￥8.00</td></tr>
    <tr><td>积分：</td><td>120</td></tr>
    <tr><td colspan=2></td></tr>
    <tr class="checkout__info__main"><td colspan=2></td></tr>
    <tr class="checkout__info__main"><td>应付总额：</td><td>￥4888.00</td></tr>
    <tr class="checkout__info__main"><td colspan=2>寄送至： 神都北门大街 收货人：某某某 155****0000</td></tr>
    <tr class="checkout__info__main"><td colspan=2></td></tr>
    <tr><td colspan=2></td></tr>
    <tr><td colspan=2><input type="submit" class="button" value="提交订单"></td></tr>
  </table>
  <!-- checkout info end -->

  </form>
</div>
{% include 'components/footer/_.html' %}
{% endblock %}
{% block js %}
<script>
$(function(){
  $(".address__toggle").on("click", function(e){
    e.preventDefault();
    $(".checkout__address").toggleClass("toggle");
    if($(".checkout__address").hasClass("toggle")){
      $(this).html('更多地址');
    }else{
      $(this).html('收起地址');
    }
  });
});
</script>
{% endblock %}
