{% extends "pages/member/member_base.html" %}
{% block member %}
<div class="member__main__item">
  <span>我的订单</span>
</div>
<div class="member__main__item order-list">
  <ul class="order-list__nav">
    <li class="active"><a href="#">全部订单</a></li>
    <li><a href="#">待付款</a></li>
    <li><a href="#">待收货</a></li>
    <li><a href="#">待评价</a></li>
  </ul>
  <table class="">
    <thead>
      <tr>
        <th>宝贝</th>
        <th>单价</th>
        <th>数量</th>
        <th>实付款</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr class="order-list__empty"><td colspan="6"></td></tr>
      <tr class="order-list__header">
        <td colspan="6">
          <span style="margin-right:1rem;">2016-12-12 12:12:00</span>
          <span>订单号：21474579619</span>
          <a href="#" class="float-right"><i class="fa fa-trash fa-lg"></i></a>
        </td>
      </tr>
      <tr>
        <td class="order-list__cover">
          <div>
            <img src="https://img10.360buyimg.com/N6/s60x60_jfs/t2803/197/3364638348/301424/bbb1806a/57888df1N88301054.jpg">
          </div>
          <div>
            <p><a href="detail.html">日本进口 ECHO厨房用品不锈钢咖啡勺长柄搅拌棒搅拌勺子咖啡匙 [交易快照]</a></p>
            <p>black / 175cm</p>
          </div>
        </td>
        <td><i class="fa fa-rmb"></i>&nbsp;199.00</td>
        <td>1</td>
        <td><i class="fa fa-rmb"></i>&nbsp;199.00</td>
        <td>
          <p>交易成功</p>
          <p><a href="order.html">订单详情</a></p>
        </td>
        <td>
          <a href="#" class="button">评价</a>
          <p><a href="#">再次购买</a></p>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr class="order-list__empty"><td colspan="6"></td></tr>
      <tr class="order-list__header">
        <td colspan="6">
          <span style="margin-right:1rem;">2016-12-12 12:12:00</span>
          <span>订单号：21474579619</span>
          <a href="#" class="float-right"><i class="fa fa-trash fa-lg"></i></a>
        </td>
      </tr>
      <tr>
        <td class="order-list__cover">
          <div>
            <img src="https://img10.360buyimg.com/N6/s60x60_jfs/t2803/197/3364638348/301424/bbb1806a/57888df1N88301054.jpg">
          </div>
          <div>
            <p><a href="detail.html">日本进口 ECHO厨房用品不锈钢咖啡勺长柄搅拌棒搅拌勺子咖啡匙 [交易快照]</a></p>
            <p>black / 175cm</p>
          </div>
        </td>
        <td><i class="fa fa-rmb"></i>&nbsp;199.00</td>
        <td>1</td>
        <td rowspan="2"><i class="fa fa-rmb"></i>&nbsp;199.00</td>
        <td rowspan="2">
          <p>交易成功</p>
          <p><a href="order.html">订单详情</a></p>
        </td>
        <td rowspan="2">
          <a href="#" class="button">评价</a>
          <p><a href="#">再次购买</a></p>
        </td>
      </tr>
      <tr>
        <td class="order-list__cover">
          <div>
            <img src="https://img10.360buyimg.com/N6/s60x60_jfs/t2803/197/3364638348/301424/bbb1806a/57888df1N88301054.jpg">
          </div>
          <div>
            <p><a href="detail.html">日本进口 ECHO厨房用品不锈钢咖啡勺长柄搅拌棒搅拌勺子咖啡匙 [交易快照]</a></p>
            <p>black / 175cm</p>
          </div>
        </td>
        <td><i class="fa fa-rmb"></i>&nbsp;199.00</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>

  <div class="order-list__pagination">
  </div>
</div>
{% endblock %}
