{% extends "base.html" %}
{% block main %}

{% set top_nav = ['首页','账户设置','信息'] %}
{% set menu_list = [
  {'name':'订单中心','sub_menus':[
    {'name':'我的订单','link':'/pages/order/orders.html'},
    {'name':'取消订单记录','link':'#'}
  ]},
  {'name':'设置','sub_menus':[
    {'name':'个人信息','link':'#'},
    {'name':'收货地址','link':'#'}
  ]}
] %}

<div class="member">

  <!-- navigation -->
  {% include 'components/navigation/_.html' %}

  <!-- header -->
  <div class="member__header">
    <div class="member__header__container">
      <ul>
        {% for i in top_nav %}
        <li><a href="/pages/home/home.html">{{ i }}</a></li>
        {% endfor %}
      </ul>
      <!-- search form -->
      {% include 'components/search-form/_.html' %}
    </div>
  </div>
  <div class="member__main">
    <div class="member__main__container">
      <div class="member__main__left">
        {% for menu in menu_list %}
        <dl>
          <dt>{{ menu.name }}</dt>
          {% for sub_menu in menu.sub_menus %}
          <dd><a href="{{ sub_menu.link }}">{{ sub_menu.name }}</a></dd>
          {% endfor %}
        </dl>
        {% endfor %}
      </div>
      <div class="member__main__right">
        {% block member %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
