$w: 1200px;

@mixin member {
    .member {
        background: #f5f5f5;
        &__header {
            background: $primary-color;
            padding: 1rem 0;
            &__container {
                width: $w;
                max-width: 100%;
                margin: 0 auto;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                }
                ul,li,a {
                    display: inline-block;
                }
                ul li a {
                    height: 2rem;
                    line-height: 2rem;
                    padding: 0 .5rem;
                    color: white;
                    font-size: 0.85rem;
                }
                .search-form {
                  height: 2rem;
                  margin: 0;
                  float: right;
                  &:after {
                    //color: #333;
                  }
                  input, input:hover {
                    width: 70%;
                    border: none;
                    //border-color: white;
                    background: white;
                  }
                  .button, .button:hover {
                    width: 30%;
                    background: #eee;
                    color: #333;
                  }
                }
            }
        }
        &__main {
            padding: 1rem 0;
            &__container {
                width: $w;
                max-width: 100%;
                margin: 0 auto;
                &:after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }
            &__left {
                float: left;
                width: 140px;
                padding: 0 2rem 0 .5rem;
                box-sizing: border-box;
                dl {
                    margin: 0 0 1rem 0;
                    font-size: 0.8rem;
                    line-height: 1.5rem;
                    dt {
                        color: #333;
                    }
                    dd {
                        margin-left: .5rem;
                        a {
                            color: #666;
                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                    .active a {
                        color: $primary-color;
                    }
                }
            }
            &__right {
                float: left;
                width: 1060px;
            }
            &__item {
                margin-bottom: 1rem;
                background: white;
                padding: 1rem;
                box-sizing: border-box;
            }
        }
    }
}


.member-zone {
    width: $w;
    max-width: 100%;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    padding: 10px;
    display: flex;
    &__left {
        width: 15%;
        &__avatar {
            padding: 5px;
            width: 50%;
            img {
                border-radius: 10px !important;
            }
        }
        .menu {
            li {
                display: block;
            }
            a {
                display: inline-block;
                color: #333;
                padding: 5px;
                font-size: 14px;
                &:hover {
                    color: #8c0000;
                }
            }
            .active {
                color: #9c0000;
            }

        }
    }
    &__right {
        width: 85%;
        padding-top: 10px;
        margin-bottom: 20px;
    }
    &__header {
        border: 1px solid #ccc;
        box-sizing: border-box;
        h4 {
            display: inline-block;
        }
    }
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: inline-block;
}


.member-form {
    form {
        width: 50%;
    }
    .avatar-box {
        display: flex;
    }
    .avatar {
        $w: 60px;
        border-radius: 0;
        height: $w;
        width: $w;
        margin-right: 20px;
    }
    input {
    }
    label {
        display: block;
        margin-bottom: 10px;
    }
    span {
        font-size: 0.85rem;
        color: #222;
    }
    textarea {
        width: 100%;
        max-width: 100%;
    }
    input[type='submit'] {
        width: initial;
        height: initial;
        display: inline-block;
        padding: 10px 20px;
        background: #910000;
        color: white;
        border: none;
    }
}

.orders {
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }
    th {
        padding: 10px 5px;
        text-align: left;
        background: #efefef;
    }
    td {
        padding: 10px 5px;
        border-bottom: 1px solid #ccc;
    }
    a {
        color: #710000;
    }
}

.order {
    table {
        width: initial;
        margin: 20px 0;
    }
    td {
        padding: 5px 10px;
    }
    tr td:first-child {
        text-align: right;
    }
    .button {
        background: #910000;
        color: white;
        border: none;
    }
}

.title {
    border-bottom: 1px solid #ccc;
    h4 {
        margin-bottom: 10px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}



.order-list {
    font-size: 0.75rem;
    .fa-trash {
        color: #999;
    }
    p {
        margin: 0;
    }
    a {
        color: #666;
        &:hover {
            color: $primary-color;
        }
    }
    .button {
        display: inline-block;
        margin: 0 0 .5rem 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: .3rem .8rem;
        background: transparent;
        &:hover {
            color: $primary-color;
            border-color: $primary-color;
        }
    }
    thead {
        border: 1px solid #eee;
    }
    th {
        margin-bottom: 1rem;
        padding: .5rem 1rem;
        border: none;
        text-align: center;
        line-height: 1rem;
        background: #f5f5f5;
        color: #666;
    }

    td {
        padding: .5rem 1rem;
        border: 1px solid #eee;
        color: #666;
    }
    &__nav {
        margin: 0 0 1rem 0;
        padding: 0;
        list-style-type: none;
        li,a {
            display: inline-block;
        }
        a {
            margin-right: .8rem;
            padding: .2rem 0;
            border-bottom: 2px solid transparent;
        }
        .active a {
            border-color: $primary-color;
        }
    }
    &__empty td {
        border: none;
    }
    &__header td {
        background: #f5f5f5;
    }
    &__cover {
        width: 300px;
        div:first-child {
            width: 60px;
            height: 60px;
            float: left;
        }
        div:nth-child(2) {
            width: 200px;
            padding-left: 1rem;
            float: left;
            a {
                color: #333;
            }
        }
    }
    &__pagination {
        &:after {
            content: '';
            display: block;
            clear: both;
        }
        .pagination {
            float: right;
        }
    }

}
