{% extends "base.html" %}
{% block main %}
<div class="member">

  <!-- navigation -->
  {% include 'components/navigation/_.html' %}

  <!-- header -->
  <div class="member__header">
    <div class="member__header__container">
      <ul>
        {% for i in ['首页','账户设置','信息'] %}
        <li><a href="/pages/home/home.html">{{ i }}</a></li>
        {% endfor %}
      </ul>
      <!-- search form -->
      {% include 'components/search-form/_.html' %}
    </div>
  </div>
  <div class="member__main">
    <div class="member__main__container">
      <div class="member__main__left">
        <dl>
          <dt>订单中心</dt>
          <dd class="active"><a href="/pages/order/orders.html">我的订单</a></dd>
          <dd><a href="#">取消订单记录</a></dd>
        </dl>
        <dl>
          <dt>设置</dt>
          <dd><a href="#">个人信息</a></dd>
          <dd><a href="#">收货地址</a></dd>
        </dl>
      </div>
      <div class="member__main__right">
        {% block member %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
