{% extends "base.html" %}
{% block header %}{% endblock %}
{% block nav %}{% endblock %}
{% block main %}
<div class="member">
  <div class="member__header">
    <div class="member__header__container">
      <ul>
        <li><a href="index.html">首页</a></li>
        <li><a href="#">账户设置</a></li>
        <li><a href="#">信息</a></li>
      </ul>
      <div class="search-form">
        <input type="search">
        <input type="submit" value="搜&nbsp;索">
      </div>
    </div>
  </div>
  <div class="member__main">
    <div class="member__main__container">
      <div class="member__main__left">
        <dl>
          <dt>订单中心</dt>
          <dd class="active"><a href="orders.html">我的订单</a></dd>
          <dd><a href="#">取消订单记录</a></dd>
        </dl>
        <dl>
          <dt>设置</dt>
          <dd><a href="#">个人信息</a></dd>
          <dd><a href="#">收货地址</a></dd>
        </dl>
      </div>
      <div class="member__main__right">
        {% block member %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
