{% extends "base.html" %}
{% block main %}

{% include 'components/navigation/_.html' %}

    <!-- header -->
    {% block header %}
    <div class="header">
      <!-- logo -->
      <a href="/pages/home/home.html"><img src="https://s-media-cache-ak0.pinimg.com/564x/81/4c/fd/814cfd70021e254dc9bb4032775e8695.jpg" class="header__logo"></a>

      <!-- search -->
      <div class="header__search">
        {% include 'components/search-form/_.html' %}
        <div class="header__tips">
          {% for i in ['黑莓','索尼','苹果','特斯拉'] %}
          <a href="/pages/list/list.html">{{ i }}</a>
          {% endfor %}
        </div>
      </div>

      <!-- cart -->
      <a class="header__cart button" href="/pages/cart/cart.html">我的购物车<span class="badge">15</span></a>
    </div>
    {% endblock %}

    <div class="nav">
      <ul class="nav-ul">
        <li>
          <a href="#" class="category-toggle">商品分类</a>
          <ul class="category-main {% block is_home %}{% endblock %}">
            {% set category_list = ['家用电器','手机、运营商、数码','电脑、办公','家居、家具、家装、厨具','男装、女装、童装、内衣','个护化妆、清洁用品、宠物','鞋靴、箱包、珠宝、奢侈品','运动户外、钟表','汽车、汽车用品','母婴、玩具乐器','食品、酒类、生鲜、特产','医药保健','图书、音像、电子书','彩票、旅行、充值、票务','理财、众筹、白条、保险'] %}
            {% for i in category_list %}
            <li>
              <a href="#" class="active">{{ i }}</a>
              <div class="category-content">
                <table>
                  {% for i in range(0,5) %}
                  <tr>
                    <td><a href="#">当季流行</a></td>
                    <td>
                      {% for i in range(0,20) %}
                      <a href="#">沙发</a>
                      {% endfor %}
                    </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="shops.html">Item1</a></li>
        <li><a href="shops.html">Item2</a></li>
      </ul>
    </div>

<div class="main">
  <div class="main__content">
    <div class="main__center">

      <!-- slide -->
      <div class="slide">
        <ul class="slide__container">
          <li class="active" data-color="#910000">
            <a href="http://findchen.com">
              <img src="https://img.alicdn.com/tps/i4/TB1lkAWMVXXXXbGapXXSutbFXXX.jpg_q100.jpg">
            </a>
          </li>
          <li data-color="#348800">
            <a href="#">
              <img src="http://img.alicdn.com/imgextra/i2/5/TB2Y7WjaurAQeBjSZFPXXXbmXXa_!!5-0-yamato.jpg_q100.jpg_.webp">
            </a>
          </li>
          <li data-color="#003490">
            <a href="#">
              <img src="https://aecpm.alicdn.com/simba/img/TB1C71sLXXXXXb5XVXXSutbFXXX.jpg">
            </a>
          </li>
        </ul>
        <div class="slide__action">
          <a href="#"><i class="fa fa-angle-left"></i></a>
          <a href="#"><i class="fa fa-angle-right"></i></a>
        </div>
        <ul class="slide__nav">
          <li><a href="#" class="active"></a></li>
          {% for i in range(0,2) %}
          <li><a href="#"></a></li>
          {% endfor %}
        </ul>
      </div>
      <!-- end -->

    </div>

    <div class="main__right">
      <img src="https://s-media-cache-ak0.pinimg.com/564x/fd/6c/39/fd6c39a1f90005133ff147decf7aff9e.jpg">
      <span>Hi~Chenorangeorangeorange</span>
      <a href="#" class="main__right__login">请登录</a>
      <a href="#" class="main__right__register">免费注册</a>
    </div>
  </div>
</div>

<div id="content">
  <div class="home-content">

    <div class="home-recommend">
      {% for item in range(0,4) %}
      <a class="home-recommend__item">
        <img src="img/goods1.png">
      </a>
      {% endfor %}
    </div>

    {% for i in range(0,3) %}
    <div class="category-card">
      <div class="category-card__title">
        <h2>TEST{{ i }}</h2>
        <ul class="menu">
          {% for j in range(0,6) %}
          <li><a href="#" {% if loop.first %}class="active"{% endif %}>test{{ j }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="category-card__content">
        <div class="category-card__left">
        </div>
        <div class="category-card__right">
          {% for j in range(0,6) %}
          <div class="category-card__right__content {% if loop.first %}active{% endif %}">
            {% for k in range(0,10) %}
            <a href="#" class="card">
              <img src="http://img10.360buyimg.com/N3/jfs/t3049/94/1890472248/131923/6841598c/57d61617Nd49c568b.jpg">
              <span class="card__title">blackberry priv{{ j }}{{ k }}</span>
              <span class="card__price">180</span>
            </a>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
