{% extends "base.html" %}
{% block main %}

<!-- suggestion list -->
{% set suggestion_list = ['黑莓','索尼','苹果','特斯拉'] %}
<!-- set category list -->
{% set category_list = ['家用电器','手机、运营商、数码','电脑、办公','家居、家具、家装、厨具','男装、女装、童装、内衣','个护化妆、清洁用品、宠物','鞋靴、箱包、珠宝、奢侈品','运动户外、钟表','汽车、汽车用品','母婴、玩具乐器','食品、酒类、生鲜、特产','医药保健','图书、音像、电子书','彩票、旅行、充值、票务','理财、众筹、白条、保险'] %}
<!-- banner list -->
{% set banner_list = [{'color':'#E8E8E8','image':'https://img.alicdn.com/tps/i4/TB1lkAWMVXXXXbGapXXSutbFXXX.jpg_q100.jpg'},{'color':'#C2121D','image':'http://img.alicdn.com/imgextra/i2/5/TB2Y7WjaurAQeBjSZFPXXXbmXXa_!!5-0-yamato.jpg_q100.jpg_.webp'},{'color':'#F28607','image':'https://aecpm.alicdn.com/simba/img/TB1C71sLXXXXXb5XVXXSutbFXXX.jpg'}] %}
<!-- category recommand -->
{% set category_recommand_list = [
{'color':'#398B94','title':'爱逛','recommand':['男装','女装','鞋袜','外套','围巾']},
{'color':'#752252','title':'电脑数码','recommand':['电脑','手机','单反','手表']},
{'color':'#E66804','title':'电脑数码','recommand':['电脑','手机','单反','手表']},
{'color':'#CA3559','title':'电脑数码','recommand':['电脑','手机','单反','手表']},
{'color':'#734D8B','title':'电脑数码','recommand':['电脑','手机','单反','手表']},
{'color':'#5B6A8F','title':'电脑数码','recommand':['电脑','手机','单反','手表']},
{'color':'#4589A8','title':'电脑数码','recommand':['电脑','手机','单反','手表']},
{'color':'#EDB327','title':'电脑数码','recommand':['电脑','手机','单反','手表']}
] %}

<div class="home">

  <!-- fixed topbar -->
  <div class="top-bar top-bar_fixed">
    <div class="top-bar__container">
      <a href="#" class="logo"><img src="https://s-media-cache-ak0.pinimg.com/564x/4a/08/d0/4a08d0747ceb46ca019e0b46c1a63378.jpg"></a>
      {% include 'components/search-form/_.html' %}
    </div>
  </div>

  <!-- navigation -->
  {% include 'components/navigation/_.html' %}

  <!-- header -->
  <div class="home__header">
    <!-- logo -->
    <a href="/pages/home/home.html" class="logo"><img src="" alt="logo"></a>
    <!-- search -->
    <div class="home__header__search">
      {% include 'components/search-form/_.html' %}
      <ul>
        {% for i in suggestion_list %}
        <li><a href="/pages/list/list.html">{{ i }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <!-- cart -->
    <a class="home__header__cart button" href="/pages/cart/cart.html">我的购物车<span class="badge">15</span></a>
  </div>


    <!-- nav -->
    <div class="home__nav">
      <ul class="home__nav__main">
        <li>
          <a href="javascript:;">商品分类</a>
          <ul class="category-main">
            {% for i in category_list %}
            <li>
              <a href="#">{{ i }}</a>
              <!-- category content -->
              <div>
                <table>
                  {% for i in range(0,4) %}
                  <tr>
                    <td><a href="#">当季流行</a></td>
                    <td>
                      {% for i in range(0,10) %}
                      <a href="#">沙发</a>
                      {% endfor %}
                    </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="shops.html">超市</a></li>
        <li><a href="shops.html">生鲜</a></li>
      </ul>
    </div>

    <!-- banner zone -->
    <div class="home__banner">
      <div class="home__banner__container">

        <!-- slide -->
        <div class="slide">
          <ul class="slide__main">
            {% for banner in banner_list %}
            <li {% if loop.first %}class="active"{% endif %} data-color="{{ banner.color }}">
              <a href="javascript:;" style="background-image:url({{ banner.image }});"></a>
            </li>
            {% endfor %}
          </ul>
          <ul class="slide__nav">
            {% for i in range(0,3) %}
            <li {% if loop.first %}class="active"{% endif %}><a href="#"></a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- end -->
    
        <div class="home__banner__user">
          <img src="https://s-media-cache-ak0.pinimg.com/564x/fd/6c/39/fd6c39a1f90005133ff147decf7aff9e.jpg" class="avatar">
          <p>Hi~Chenorangeorangeorange</p>
          <p><a href="#" class="button button_full">请登录</a></p>
          <p><a href="#">免费注册</a></p>
        </div>
      </div>
    </div>

    <div class="home__container">

      <div class="home__recommend">
        {% for item in range(0,4) %}
        <a href="javascript:;"><img src="https://img10.360buyimg.com/cms/s188x184_jfs/t3622/297/2230492773/18287/1e02f14c/584e230eN344b318b.jpg!q90.webp"></a>
        {% endfor %}
      </div>


      <!-- category recommand start -->
      <div class="home__category-recommand">

        <!-- nav -->
        <ul class="home__category-recommand__nav">
        {% for category in category_recommand_list %}
        <li><a href="#category-link-{{ loop.index }}">{{ category.title }}</a></li>
        {% endfor %}
        <li><a href="javascript:scroll_to_top();" class="scroll-to-top">顶部<br><i class="fa fa-caret-up"></i></a></li>
        </ul>

        <!-- content -->
        {% for category in category_recommand_list %}
        <table class="section" id="category-link-{{ loop.index }}">
          <thead style="background:{{ category.color }};">
          <tr>
            <th>{{ category.title }}</th>
            <th colspan=4>
              <ul>
                {% for recommand in category.recommand %}
                <li><a href="#" {% if loop.first %}class="active"{% endif %}>{{ recommand }}</a></li>
                {% endfor %}
              </ul>
            </th>
          </tr>
          </thead>
          <tr>
            <td class="cover" rowspan=2>
              <a href="#">
                <div class="image"><img src="https://img.alicdn.com/imgextra/i2/2228361831/TB2W97mad4opuFjSZFLXXX8mXXa_!!2228361831.jpg"></div>
              <div class="title" style="background:{{ category.color }}">
              <h5>美食专场</h5>
              <p>品质美食 一件购买</p>
              </div>
              </a>
            </td>
            {% for i in range(0,4) %}
            <td><a href="#">
                <h6>时尚新品</h6>
                <p style="color:{{ category.color }}">爆款抢先</p>
                <img src="https://img.alicdn.com/i2/2/TB1VHsNOpXXXXaMXpXXSutbFXXX.jpg">
              </a></td>
            {% endfor %}
          </tr>
          <tr>
            {% for i in range(0,4) %}
            <td><a href="#">
                <h6>时尚新品</h6>
                <p style="color:{{ category.color }}">爆款抢先</p>
                <img src="https://img.alicdn.com/i2/2/TB1VHsNOpXXXXaMXpXXSutbFXXX.jpg">
              </a></td>
            {% endfor %}
          </tr>
        </table>
        {% endfor %}
      </div>
      <!-- category recommand end -->

    </div>
  </div>
</div>

<!-- include footer -->
{% include 'components/footer/_.html' %}

{% endblock %}
{% block js %}
<script src="https://cdn.bootcss.com/jQuery-viewport-checker/1.8.7/jquery.viewportchecker.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-one-page-nav/3.0.0/jquery.nav.min.js"></script>
<script>
$(function(){

  /** scroll event **/
  $(window).scroll(function(){
    var scroll_top = $(document).scrollTop();
    var window_height = $(window).height();
    if(scroll_top > window_height){
      $(".top-bar_fixed").addClass("top-bar_fixed_active");
    }else{
      $(".top-bar_fixed").removeClass("top-bar_fixed_active");
    }
  });

  /** show category recommand nav **/
  $(".home__category-recommand").viewportChecker({
    classToAdd: 'active',
    //removeClassAfterAnimation: true,
    offset: '100%',
    invertBottomOffset: false,
    repeat: true,
  });

  /** category recommand **/
  $(".home__category-recommand__nav").onePageNav({
    currentClass: "active",
    filter: ":not(.scroll-to-top)"
  });
});
</script>
{% endblock %}
