{% extends "base.html" %}
{% block nav %}{% endblock %}
{% block main %}
<div class="commodity">

  <div class="commodity__nav">
    <div class="commodity__nav__container">
    </div>
  </div>

  <div class="commodity__main">
    <div class="commodity__main__cover commodity-cover">
      <ul class="commodity-cover__main">
        <li><a href="#"><img src="https://s-media-cache-ak0.pinimg.com/564x/a7/46/99/a746996ec4b22314363be3f55f192438.jpg"></a></li>
        <li><a href="#"><img src="https://s-media-cache-ak0.pinimg.com/564x/7d/9b/a3/7d9ba3854138837bc7701ed7779e0c3e.jpg"></a></li>
        <li class="active"><a href="#"><img src="https://s-media-cache-ak0.pinimg.com/236x/a0/47/65/a04765d7418eecf39b1c0f932b81e09b.jpg"></a></li>
      </ul>
      <ul class="commodity-cover__nav">
        {% for item in range(0,5) %}
        <li><a href="#"><img src="//img13.360buyimg.com/n5/s54x54_jfs/t3271/198/1628975622/101259/6ea4ec2c/57d0c513N881221b4.jpg"></a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="commodity__main__param">
      <p class="title">邻舍 懒人沙发布艺沙发创意折叠沙发小户型榻榻米单人 米奇</p>
      <p class="price-bar">价格 ￥1200 </p>
      <table>
        <tr><td>运费</td><td>0</td></tr>
        <tr class="param-list">
          <td>选择颜色</td>
          <td>
            {% for i in range(0,7) %}
            <a href="#" {% if loop.first %} class="active" {% endif %}>black</a>
            {% endfor %}
          </td>
        </tr>
        <tr class="param-count">
          <td>数量</td>
          <td>
            <table class="count-box">
              <tr>
                <td class="count-box__input" rowspan="2">1</td>
                <td class="count-box__action"><i class="fa fa-angle-up"></i></td>
              </tr>
              <tr>
                <td class="count-box__action"><i class="fa fa-angle-down"></i></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="param-action">
          <td></td>
          <td>
            <a class="button" href="cart.html">立即购买</a>
            <a class="button" href="cart.html">加入购物车</a>
          </td>
        </tr>
      </table>
    </div>

    <div class="commodity__main__info">
      <ul class="tabs">
        <li><a href="#" class="active">商品介绍</a></li>
        <li><a href="#">规格参数</a></li>
        <li><a href="#">包装清单</a></li>
        <li><a href="#">商品评价</a></li>
      </ul>
      <div class="tabs-content">
        <div class="tabs-panel active">
          <img src="https://img20.360buyimg.com/vc/jfs/t2764/164/1019244286/353092/1afc7830/573175e7Nde8d02a6.jpg">
        </div>
        <div class="tabs-panel">
          size
        </div>
        <div class="tabs-panel">
          pass
        </div>
        <div class="tabs-panel">
          <table class="comments">
            {% for i in range(0,6) %}
            <tr>
              <td>
                <p>东西很COOL 无线耳机质量也不错 试听了一下耳机的音质很好 用这个经常去健身房边练边听音乐 挺方便 Very Love it！</p>
                <p><span>16/10/01</span></p>
              </td>
              <td>Gold, small</td>
              <td>chen</td>
            </tr>
            {% endfor %}
          </table>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>
{% endblock %}

{% block js %}
<script>
     /*** count box **/
     $(".count-box").find("i").bind("click", function(e){
       e.preventDefault();
       var current = parseInt($(".count-box input").val());
       var index = $(this).index();
       if(index == 1){
         current++;
       }else if(index == 2){
         if(current > 1){
           current--;
         }
       }
       $(".count-box input").val(current);
     });


/** goods cover **/
$(".goods-cover .goods-cover__list li").bind("mouseover", function(e){
  //e.preventDefault();
  var index = $(this).index();
  console.log(index);
  $(".goods-cover .goods-cover__main li:eq("+index+")").addClass("active");
  $(".goods-cover .goods-cover__main li:not(:eq("+index+"))").removeClass("active");
});

  </script>
{% endblock %}
