.buy-page {
  margin-top: 1rem; }

.buy__item {
  padding: .5rem;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 1rem; }
  .buy__item > h4 {
    border-left: 4px solid #910000;
    padding-left: 1rem; }

.address-create {
  font-size: 0.9rem; }

.address-list tr, .address-list td {
  border: none; }

.address-list small {
  color: #666;
  margin-left: .5rem; }

.address-list tr:hover {
  background: #efefef; }

.address-list .active {
  border: 1px dashed #910000; }

.buy-goods img {
  height: 50px; }

.buy-pay {
  text-align: center; }
