.goods-list__content {
  margin: 10px auto 0;
  width: 1200px;
  max-width: 100%; }

.goods-list__nav {
  padding: 10px 0; }
  .goods-list__nav__count {
    float: right;
    font-size: 0.85rem;
    color: #666;
    padding: 5px; }

.goods-list__filter {
  clear: both; }

.goods-list__sort {
  padding: 10px 0;
  clear: both; }
  .goods-list__sort .sort {
    display: flex; }
  .goods-list__sort a {
    position: relative;
    float: left;
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-right: none;
    color: #333;
    font-size: 0.85rem;
    box-sizing: border-box; }
    .goods-list__sort a:last-child {
      border-right: 1px solid #aaa; }
    .goods-list__sort a:not(.active):hover {
      background: #ccc; }
  .goods-list__sort .active {
    background: #910000;
    color: white;
    border-color: #910000; }

.goods-list__count {
  color: #333; }

.goods-list__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  clear: both;
  margin-top: 10px; }

.goods-list__pagination {
  float: right;
  margin: 15px 0; }

.goods-list .card {
  border: 1px solid white;
  width: 20%;
  transform: all 2s; }
  .goods-list .card:hover {
    border-color: #ccc;
    box-shadow: 0 0 4px #aaa; }

.filter__item {
  display: flex;
  border-top: 1px solid #ccc; }
  .filter__item:last-child {
    border-bottom: 1px solid #ccc; }
  .filter__item__title {
    width: 120px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 0.85rem; }
  .filter__item__content li {
    display: inline-block; }
  .filter__item__content a {
    display: inline-block;
    padding: 10px;
    color: #005aa0;
    font-size: 0.85rem; }
    .filter__item__content a:hover {
      color: #910000; }

.crumbs-nav {
  color: #333; }
  .crumbs-nav li, .crumbs-nav li a {
    display: inline-block; }
  .crumbs-nav li:not(:last-child):after {
    content: "\f105";
    font-family: FontAwesome;
    margin-left: 5px; }
  .crumbs-nav li:last-child a {
    cursor: text; }
  .crumbs-nav a {
    padding: 5px;
    color: #333;
    font-size: 0.85rem; }
  .crumbs-nav .active {
    border: 1px solid #ccc; }
    .crumbs-nav .active:after {
      content: "\f00d";
      font-family: FontAwesome;
      display: inline-block;
      margin-left: 5px;
      color: #666; }
    .crumbs-nav .active:hover {
      border-color: #910000; }
      .crumbs-nav .active:hover:after {
        color: #910000; }

.pagination li, .pagination li a {
  display: inline-block; }

.pagination a {
  padding: 8px 12px;
  color: #333;
  border: 1px solid #ccc;
  background: white; }
  .pagination a:not(.active):hover {
    border-color: #910000; }

.pagination .active {
  background: #910000;
  border-color: #910000;
  color: white;
  cursor: text; }

.pagination .prev:before {
  content: "\f104";
  font-family: FontAwesome;
  margin-right: 5px; }

.pagination .next:after {
  content: "\f105";
  font-family: FontAwesome;
  margin-left: 5px; }
