.shops {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: flex; }
  .shops__left {
    width: 25%;
    margin: 10px 0;
    padding: 20px;
    background: #efefef; }
    .shops__left__search {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px dashed #ccc; }
      .shops__left__search label {
        font-size: 0.85rem;
        color: #333; }
        .shops__left__search label select, .shops__left__search label input {
          margin-bottom: 10px;
          color: #333; }
      .shops__left__search input[type='submit'] {
        background: #910000;
        color: white;
        border: none; }
  .shops__right {
    width: 75%;
    padding: 10px 20px; }
    .shops__right__sort {
      clear: both;
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc; }
      .shops__right__sort .sort {
        display: flex; }
      .shops__right__sort a {
        position: relative;
        float: left;
        padding: 5px 10px;
        border: 1px solid #aaa;
        border-right: none;
        color: #333;
        font-size: 0.85rem;
        box-sizing: border-box; }
        .shops__right__sort a:last-child {
          border-right: 1px solid #aaa; }
        .shops__right__sort a:not(.active):hover {
          background: #ccc; }
      .shops__right__sort .active {
        background: #910000;
        color: white;
        border-color: #910000; }
    .shops__right__list {
      display: flex;
      flex-wrap: wrap; }
    .shops__right__pagination {
      margin: 10px 0;
      text-align: right; }

.shop-card {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  transform: all 2s;
  text-align: center; }
  .shop-card h6 {
    text-align: center;
    color: #333;
    margin-bottom: 0;
    word-wrap: no;
    overflow: hidden; }
  .shop-card span {
    display: block;
    color: #333;
    font-size: 0.85rem;
    word-wrap: no;
    overflow: hidden; }
  .shop-card:hover {
    border-color: #ccc;
    box-shadow: 0 0 4px #aaa; }

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto; }

.crumbs-nav {
  padding: 5px; }

.shop-main {
  display: flex; }
  .shop-main__left {
    width: 40%;
    padding: 10px;
    box-sizing: content-box; }
  .shop-main__right {
    width: 60%;
    padding: 10px;
    box-sizing: content-box; }
    .shop-main__right div {
      background: #efefef;
      padding: 10px;
      font-size: 0.85rem; }
