{% extends "pages/member/member_base.html" %}
{% block member %}
<div class="member__main__item">
  <span>收货地址</span>
</div>
<div class="member__main__item address">
  <h6 class="address__header">
    <a href="#" class="button button_hollow">新增收货地址</a>
  </h6>
  {% for i in range(0,3) %}
  <table>
    <tr><th colspan=2>某某某<span>默认地址</span><a href="#"><i class="fa fa-remove"></i></a></th></tr>
    <tr><td>收货人：</td><td>某某某</td></tr>
    <tr><td>所在地区：</td><td>山东济南市高新区</td></tr>
    <tr><td>地址：</td><td>某某小区</td></tr>
    <tr><td>手机：</td><td>155****0000</td></tr>
    <tr><td colspan=2 class="action"><a href="#">设为默认</a> <a href="#">编辑</a></td></tr>
  </table>
  {% endfor %}
</div>
{% endblock %}
