/**
 * home scss
 */
.main {
  width: 100%;
  height: 450px;
  background: #D21625;
  overflow: hidden; }
  .main__content {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex; }
  .main__center {
    width: 73.33333%;
    margin-left: 18.33333%;
    height: 450px;
    overflow: hidden; }
  .main__right {
    width: 8.33333%;
    height: 430px;
    margin: 10px 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px 10px;
    box-sizing: border-box;
    color: white; }
    .main__right img {
      width: 75px;
      height: 75px;
      border-radius: 75px; }
    .main__right span {
      display: block;
      word-wrap: no;
      width: 100%;
      overflow: hidden;
      color: #ccc;
      font-size: 0.75rem; }
    .main__right__login {
      margin-top: 10px;
      display: block;
      padding: 5px 0;
      text-align: center;
      border-radius: 20px;
      background: #910000;
      color: white;
      font-size: 0.80rem; }
      .main__right__login:hover {
        color: white; }
      .main__right__login:before {
        content: "\f007";
        font-family: FontAwesome;
        margin-right: 5px; }
    .main__right__register {
      display: block;
      margin-top: 5px;
      color: #ccc;
      font-size: 0.75rem; }
      .main__right__register:after {
        content: "\f105";
        font-family: FontAwesome;
        margin-left: 5px; }

.home-content {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto; }

.home-recommend {
  margin: 20px 0;
  display: flex;
  justify-content: space-around; }
  .home-recommend__item img {
    width: 280px;
    height: 180px; }

/*** slide *****/
.slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 450px;
  max-height: 450px; }
  .slide:hover__action {
    display: block; }
  .slide__container {
    overflow: hidden; }
    .slide__container li {
      display: none; }
    .slide__container .active {
      display: block; }
  .slide__action a {
    position: absolute;
    top: 50%;
    transform: translate(0, -20px);
    display: block;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.6);
    line-height: 40px;
    text-align: center;
    color: #fff; }
    .slide__action a:first-child {
      left: 0; }
    .slide__action a:last-child {
      right: 0; }
  .slide__nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px; }
    .slide__nav li {
      display: inline-block; }
    .slide__nav a {
      display: block;
      width: 15px;
      height: 15px;
      margin: 0 2px;
      border-radius: 15px;
      background: #ccc; }
    .slide__nav .active {
      background: #999; }
