
      <div class="footer-desc">
        <div class="footer-desc__content">
          <div class="footer-desc__item">
            <h5>新手指南</h5>
            <ul>
              <li><a href="page.html">关于发票</a></li>
              <li><a href="#">常见问题</a></li>
            </ul>
          </div>
          <div class="footer-desc__item">
            <h5>支付购买</h5>
            <ul>
              <li><a href="#">网上支付</a></li>
              <li><a href="#">虚拟账户</a></li>
            </ul>
          </div>
          <div class="footer-desc__item">
            <h5>服务支持</h5>
            <ul>
              {% for i in range(0,4) %}
              <li><a href="#">客服电话 400-8888888</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="footer-desc__item">
            <h5>手机商城</h5>
            <img src="https://img.alicdn.com/tps/i1/TB14VZKHXXXXXcAXXXX64VRZFXX-105-105.png">
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div>地址：China Shendu</div>
        <span></span>
      </div>
    </div>


