<!-- footer -->
<div class="footer">
  <div class="footer__container">
    <div class="footer__container__ensure">
      {% for i in range(0,4) %}
      <a href="#">
        <h5>多</h5>
        <span>品类齐全，轻松购物</span>
      </a>
      {% endfor %}
    </div>
    <div class="footer__container__navigation">
      {% for i in range(0,4) %}
      <dl>
        <dt>新手指南</dt>
        {% for i in range(0,4) %}
        <dd><a href="#">常见问题</a></dd>
        {% endfor %}
      </dl>
      {% endfor %}
      <dl>
        <dt>手机版</dt>
        <dd><img src="https://img.alicdn.com/tps/i1/TB14VZKHXXXXXcAXXXX64VRZFXX-105-105.png"></dd>
      </dl>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="footer__copyright__container">
      <p>增值电信业务经营许可证： 浙B2-20110446</p>
      <p>互联网药品信息服务资质证书编号：浙-（经营性）-2012-0005</p>
      <p>© 2003-2016 TMALL.COM 版权所有</p>
    </div>
  </div>
</div>
