/**
 * juss
 * @author chen
 * @date 20160921
 */

/** import  all valiable **/
@import 'settings';
@import 'normalize';

// Core variables and mixins
@import 'util/util';
@import 'typography';
@import 'tables';
@import 'forms';
@import 'grid';
@import 'buttons';
@import 'helper';

@font-face {
  font-family: fzzxh;
  src: url(../fonts/fzzxh-webfont.woff);
}

/** make a circle **/
@mixin circle ($r) {
  display: inline-block;
  width: $r;
  height: $r;
  line-height: $r;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 50%;
}

/** make a center box **/
@mixin container ($width) {
  width: $width;
  max-width: 100%;
  margin: 0 auto;
}


/** menu **/
@mixin menu {
  /** for ul **/
  padding-left: 0;
  list-style-type: none;
  & > li {
    display: inline-block;
    & > a {
      display: inline-block;
    }
  }
}

/** set element clear both **/
@mixin clear-both {
  /** add after for clear both **/
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

/** global variable **/
$w: 1200px;

/** global **/
a {
    color: #333;
    &:hover {
        text-decoration: none !important;
    }
}

.hide {
    display: none;
}
/** end global **/

/** components **/
@import 'src/components/navigation/_.scss';
@include topbar;
@import 'src/components/crumbs/_.scss';
@import 'src/components/menu/_.scss';
@import 'src/components/modal/_.scss';
@import 'src/components/pagination/_.scss';
@include pagination;
@import 'src/components/search-form/_.scss';
@include search-form;
@import 'src/components/slide/_.scss';
@import 'src/components/card/_.scss';
@include commodity-card;
@import 'src/components/footer/_.scss';
@include footer;

/** pages **/
@import 'src/pages/home/home.scss';
@include home;
@import 'src/pages/cart/cart.scss';
@include cart;
@import 'src/pages/member/member.scss';
@include member;
@import 'src/pages/list/list.scss';
@include list;
@import 'src/pages/commodity/detail.scss';
@include commodity;
@import 'src/pages/order/order.scss';
@include order;
@import 'src/pages/address/address.scss';
@include address;
