/**
 * juss
 * @author chen
 * @date 20160921
 */

/** import  all valiable **/
@import 'settings';
@import 'normalize';

// Core variables and mixins
@import 'util/util';
@import 'typography';
@import 'tables';
@import 'forms';
@import 'grid';
@import 'buttons';
@import 'helper';

@font-face {
  font-family: fzzxh;
  src: url(../fonts/fzzxh-webfont.woff);
}

/** mixin **/
@mixin menu {
  /** for ul **/
  padding-left: 0;
  list-style-type: none;
  & > li {
    display: inline-block;
    & > a {
      display: inline-block;
    }
  }
}

@mixin clear-both {
  /** add after for clear both **/
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// Components

/** global variable **/
$w: 1200px;

/** global **/
a {
    color: #333;
    &:hover {
        text-decoration: none !important;
    }
}

.hide {
    display: none;
}
/** end global **/



// components
@import 'src/components/navigation/_.scss';
@include topbar;

//@import 'src/components/crumbs/_.scss';
//@import 'src/components/footer/_.scss';
@import 'src/components/menu/_.scss';
@import 'src/components/modal/_.scss';
@import 'src/components/pagination/_.scss';
@include pagination;
@import 'src/components/search-form/_.scss';
@include search-form;
@import 'src/components/slide/_.scss';
@import 'src/components/card/_.scss';
@include commodity-card;

//@import 'src/page/home/_.scss';
@import 'src/pages/home/home.scss';
@include home;
@import 'src/pages/cart/cart.scss';
@include cart;
@import 'src/pages/member/member.scss';
@include member;
@import 'src/pages/list/list.scss';
@include list;

.footer-ensure {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
    div {
        width: 60px;
        margin: 0 40px;
        text-align: center;
        font-size: 0.85rem;
        img {
            width: 100%;
        }
        span {
            margin-top: 5px;
            display: block;
            color: #333;
        }
    }
}

.footer-desc {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    border-top: 1px solid #eee;
    background: white;
    &__content {
        width: $w;
        display: flex;
        justify-content: space-around;
    }
    &__item {
    }
    h5 {
        margin-bottom: .5rem;
    }
    a {
        line-height: 20px;
        color: #333;
        font-size: 0.85rem;
        &:hover {
            color: black;
        }
    }
}
.footer-copyright {
    padding: 20px 0;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    background: black;
    color: #ddd;
}




/******************** Home Category CSS *******************/
.category-card {
    margin-bottom: 40px;
    position: relative;
    &__title {
        position: relative;
        border-bottom: 1px solid $primary-color;
    }
    h2 {
        display: inline-block;
        margin: 5px 0;
        border-left: 5px solid $primary-color;
        padding-left: 5px;
        font-size: 1.5rem;
    }
    .menu {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(0, 1px);
        a {
            padding: 8px 15px;
            border: {
                top: 3px solid white;
                left: 1px solid white;
                right: 1px solid white;
            }
            font-size: 0.85rem;
            color: #333;
        }
        .active {
            border-color: $primary-color;
            border-bottom: 1px solid white;
            color: $primary-color;
        }
    }
    &__content {
        position: relative;
        clear: both;
    }
    &__left {
        position: relative;
        float: left;
    }
    &__right {
        width: 100%;
        //float: right;
        position: relative;
        &__content {
            //display: flex;
            display: none;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .active {
            display: flex;
        }
        .card {
            width: 20%;
            border-top: none;
            border-left: none;
            &:nth-child(5), &:last-child {
                border-right: none;
            }
        }
    }

}


