/**
 * juss
 * @author chen
 * @date 20160921
 */

/** import  all valiable **/
@import 'settings';
@import 'normalize';

// Core variables and mixins
@import 'util/util';
@import 'typography';
@import 'tables';
@import 'forms';
@import 'grid';
@import 'buttons';
@import 'helper';
// Components


//@import '../components/menu';
//@import 'components/top-bar';
//@import 'components/pagination';
//@import 'components/modal';
//@import 'components/slide';
//
//@import 'components/commodity-card';
//
//// include mixin
//@include commodity-card;


/** global variable **/
$w: 1200px;

/** global **/
a {
    color: #333;
    &:hover {
        text-decoration: none !important;
    }
}

.hide {
    display: none;
}
/** end global **/


//@import 'list';
//@import 'detail';
//@import 'member';
//@import 'cart';
//@import 'login';
//@import 'shop';
//@import 'page';
//@import 'buy';
//
//@include cart;
//@include member;
//@include list;
//@include commodity;

$height: 450px;

//@import 'src/page/home/_.scss';
@import 'src/pages/home/home.scss';
//@include home;






.header {
    width: 1200px;
    max-width: 100%;
    margin: 20px auto;
    position: relative;
    clear: both;
    &__logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
    }
    &__cart {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0, 20%);
        margin: 0;

        border: 1px solid #ccc;
        //padding: 10px 16px;
        color: #333;
        background: transparent;
        font-size: 0.85rem;
        &:hover {
            background: transparent;
            color: #910000;
        }
        &:before {
            content: "\f07a";
            font-family: FontAwesome;
            margin-right: 5px;
            color: $primary-color;
        }
        &:after {
            content: "\f105";
            font-family: FontAwesome;
            margin-left: 5px;
        }
    }
    &__search {
        width: 500px/$w*100%;
        margin: 0 auto;
        button {
            border: $primary-color;
            background: $primary-color;
            color: white;
            border-radius: 0;
        }
        input {
            border-color: $primary-color !important;
            margin: 0;
        }
    }
    &__tips a {
        margin-right: 5px;
        font-size: 14px;
        color: #717171;
        &:hover {
            color: $primary-color;
        }
    }
}


/************* goods category ***************/

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid $primary-color;
    &-ul {
        width: 1200px;
        max-width: 100%;
        //transform: translate(0,2px);
    }
    &-ul > li {
        display: inline-block;
        &:first-child {
            width: 220px/$w*100%;
            position: relative;
            & > a {
                display: block;
                box-sizing: border-box;
                background: $primary-color;
                color: white;
                &::before {
                    content: "\f0c9";
                    font-family: FontAwesome;
                    margin-right: 5px;
                }
            }
            &:hover {
                .category-main {
                    display: block;
                }
            }

        }
        &:not(:first-child):hover > a{
            color: $primary-color;
        }
    }

    &-ul > li > a {
        height: 40px;
        padding: 0 20px;
        line-height: 40px;
        color: black;
    }
}

.category-main {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    z-index: 1000;
    width: 220px/$w*100%;
    height: $height + 2px;
    border-top: 2px solid #910000;
    background: #eee;
    //overflow: hidden;
    top: 40px;
    left: 0;
    width: 100%;
    & > li > a{
        display: block;
        padding: 0 1rem;
        height: $height/15;
        line-height: $height/15;
        color: #333;
        font-size: 0.85rem;
        &::after {
            content: "\f105";
            font-family: FontAwesome;
            float: right;
            opacity: 1;
            transition: all 1s;
        }
    }
    & > li:hover {
        & > a {
            background: white;
            color: $primary-color;
            &::after {
                //opacity: 0;
                //transform: rotate(90deg);
                //margin-right: -15px;
                display: none;
            }
        }
        .category-content {
            display: block;
        }
    }
}

.category-content {
    display: none;
    position: absolute;
    top: 0;
    left: 220px - 1px;
    width: 880px;
    height: $height;
    padding: 10px 15px;
    background: white;
    box-sizing: border-box;
    z-index: 9999;
    table {
        border-collapse: collapse;
        border-spacing: 0;
        border: none;
    }
    td {
        padding: 8px;
        border: none;
        border-bottom: 1px dashed #dedede;
    }
    tr td:first-child {
        //width: 120px;
        white-space: nowrap;
        vertical-align: top;
        &:after {
            content: "\f105";
            font-family: FontAwesome;
        }
        a {
            font-size: 0.9rem;
        }
    }
    tr td:last-child a{
        //border-left: 1px solid #aaa;
        font-size: 0.85rem;
    }
    a {
        padding: 0 .5rem;
        color: #333;
        &:hover {
            color: #910000;
        }
    }
}



.footer-ensure {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
    div {
        width: 60px;
        margin: 0 40px;
        text-align: center;
        font-size: 0.85rem;
        img {
            width: 100%;
        }
        span {
            margin-top: 5px;
            display: block;
            color: #333;
        }
    }
}

.footer-desc {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    border-top: 1px solid #eee;
    background: white;
    &__content {
        width: $w;
        display: flex;
        justify-content: space-around;
    }
    &__item {
    }
    h5 {
        margin-bottom: .5rem;
    }
    a {
        line-height: 20px;
        color: #333;
        font-size: 0.85rem;
        &:hover {
            color: black;
        }
    }
}
.footer-copyright {
    padding: 20px 0;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    background: black;
    color: #ddd;
}




/******************** Home Category CSS *******************/
.category-card {
    margin-bottom: 40px;
    position: relative;
    &__title {
        position: relative;
        border-bottom: 1px solid $primary-color;
    }
    h2 {
        display: inline-block;
        margin: 5px 0;
        border-left: 5px solid $primary-color;
        padding-left: 5px;
        font-size: 1.5rem;
    }
    .menu {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(0, 1px);
        a {
            padding: 8px 15px;
            border: {
                top: 3px solid white;
                left: 1px solid white;
                right: 1px solid white;
            }
            font-size: 0.85rem;
            color: #333;
        }
        .active {
            border-color: $primary-color;
            border-bottom: 1px solid white;
            color: $primary-color;
        }
    }
    &__content {
        position: relative;
        clear: both;
    }
    &__left {
        position: relative;
        float: left;
    }
    &__right {
        width: 100%;
        //float: right;
        position: relative;
        &__content {
            //display: flex;
            display: none;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .active {
            display: flex;
        }
        .card {
            width: 20%;
            border-top: none;
            border-left: none;
            &:nth-child(5), &:last-child {
                border-right: none;
            }
        }
    }

}


