@mixin commodity {
    .commodity {
        &__header {
        }
        &__nav {
            margin-bottom: 1rem;
            height: 2.5rem;
            line-height: 2.5rem;
            background: #f5f5f5;
            &__container {
                width: $w;
                margin: 0 auto;
            }
        }

        &__main {
            width: $w;
            margin: 0 auto;
            &:after {
                content: '';
                display: block;
                clear: both;
            }
            &__cover {
                width: 30%;
                float: left;
                box-sizing: border-box;
            }
            &__param {
                width: 70%;
                float: left;
                padding: .5rem 1rem;
                box-sizing: border-box;
                color: #666;
                .title {
                    color: #555;
                    border: none;
                }
                .item {
                    padding: .5rem;
                    border-bottom: 1px solid #f5f5f5;
                    font-size: 0.75rem;
                }
                .action {
                    .count-box {
                        float: left;
                    }
                    .button {
                        margin-left: 2rem;
                        float: left;
                    }
                }
            }
            &__info {
                &:before {
                    content: '';
                    display: block;
                    clear: both;
                }
            }
        }


        /** cover **/
        .commodity-cover {
            &__main {
                margin: 0;
                padding: 0;
                list-style-type: none;
                margin-bottom: .5rem !important;
                li:not(.active) {
                    display: none;
                }
                img {
                    width: 100%;
                }
            }
            &__nav {
                li, a {
                    display: inline-block;
                }
                a {
                    border: 2px solid transparent;
                }
                li:not(.active):hover a {
                    border-color: $primary-color;
                }
                .active a {
                    border-color: $primary-color;
                }
            }
        }


        /** price bar **/
        .price-bar {
            background: #f5f5f5;
            line-height: 2.5rem;
            padding-left: .5rem;
            font-size: 0.75rem;
        }

        /** param choice **/
        .param-choice {
            &__item {
                padding: .3rem 0;
                ul {
                    margin: 0 0 0 .5rem;
                    padding: 0;
                    list-style-type: none;
                }
                ul, li, a {
                    display: inline-block;
                }
                a {
                    position: relative;
                    margin: 0 .5rem .5rem 0;
                    padding: .4rem 1rem;
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                    &:hover {
                        border-color: $primary-color;
                    }
                }
                .active a {
                    border-color: $primary-color;
                }
            }
        }

        /** count box **/
        .count-box {
            width: initial;
            transform: scale(0.8);
            td {
                padding: 0;
                text-align: center;
                vertical-align: middle;
            }
            &__action {
                width: 1rem;
            }
            &__input {
                width: 2.5rem;
            }
        }
    }

    .goods-param {
        &__price {
            background: #ccc;
            padding: 10px;
            box-sizing: border-box;
            font-size: 0.85rem;
            span {
                margin-left: 10px;
                color: #910000;
                font-size: 1.2rem;

            }
        }
        &__freight {
            padding: 10px;
            font-size: 0.85rem;
            border-bottom: 1px solid #ccc;
        }
        &__param {
            &__item {
                display: flex;
                padding: 10px;
            }
            &__title {
                width: 15%;
                padding: 5px 0;
            }
            &__list {
                width: 85%;
                a {
                    position: relative;
                    display: inline-block;
                    padding: 5px 12px;
                    border: 1px solid #ccc;
                    color: #333;
                    &:hover {
                        border-color: #910000;
                    }
                }
                .active {
                    border-color: #910000;
                }
            }
        }
        &__action {
            margin-top: 30px;
            display: flex;
            &__count {
                display: block;
                height: 40px;
                width: 40px;
                line-height: 40px;

                border: 1px solid #ccc;
                margin-right: 30px;
                position: relative;
                box-sizing: border-box;
                input {
                    text-align: center;
                    padding: 0;
                    border: none;
                    width: 100%;
                }
                i {
                    display: block;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: -1px;
                    right: -20px;
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                    text-align: center;
                    line-height: 20px;
                    &:nth-child(2) {
                        top: -1px;
                        //border-bottom: none;
                    }
                    &:nth-child(3) {
                        top: 19px;
                        border-top: none;
                    }
                }
            }
            .button {
                background: #910000;
                color: white;
                border: none;
                padding: 12px 20px;
                &:before {
                    content: "\f217";
                    font-family: FontAwesome;
                    margin-right: 5px;
                }
            }
        }
    }

    .goods-info {
        width: 100%;
        clear: both;
        margin-top: 20px;
        padding: 10px;
    }

    .tabs {
        border-bottom: 1px solid #910000;
        li, li a {
            display: inline-block;
        }
        a {
            color: #333;
            display: inline-block;
            padding: 10px 20px;
            background: #ccc;
            font-size: 0.85rem;
            &:hover {
                color: #8c0000;
            }
            &.active {
                background: #8c0000;
                color: white;
            }
        }
    }
    .tabs-content {
        padding: 10px;
        .tabs-panel {
            display: none;
        }
        .active {
            display: block;
        }
    }

    .comments {
        width: 100%;
        border: none;
        tr {
            display: table-row;
        }
        td {
            border: none;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            font-size: 0.85rem;
            &:nth-child(1) {
                width: 60%;
            }
            &:nth-child(2) {
                width: 20%;
            }
            &:nth-child(3) {
                width: 20%;
            }
        }
        span {
            font-size: 0.75rem;
            color: #666;
        }
    }
}
