/**
 * home scss
 */
$primary-color: #910000;
$height: 450px;
$w: 1200px;

.main {
    width: 100%;
    height: $height;
    background: #D21625;
    overflow: hidden;

    &__content {
        width: $w;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
    }

    &__left {
    }
    &__center {
        width: 880px/$w*100%;
        margin-left: 220px/$w*100%;
        height: $height;
        overflow: hidden;
    }
    &__right {
        width: 100px/$w*100%;
        height: $height - 20px;
        margin: 10px 0;
        background: rgba(0,0,0,0.5);
        text-align: center;
        padding: 20px 10px;
        box-sizing: border-box;
        color: white;
        img {
            $img-w: 75px;
            width: $img-w;
            height: $img-w;
            border-radius: $img-w;
        }
        span {
            display: block;
            word-wrap: no;
            width: 100%;
            overflow: hidden;
            color: #ccc;
            font-size: 0.75rem;
        }
        &__login {
            margin-top: 10px;
            display: block;
            padding: 5px 0;
            text-align: center;
            border-radius: 20px;
            background: #910000;
            color: white;
            font-size: 0.80rem;
            &:hover {
                color: white;
            }
            &:before {
                content: "\f007";
                font-family: FontAwesome;
                margin-right: 5px;
            }
        }
        &__register {
            display: block;
            margin-top: 5px;
            color: #ccc;
            font-size: 0.75rem;
            &:after {
                content: "\f105";
                font-family: FontAwesome;
                margin-left: 5px;
            }
        }
    }
}


.home-content {
    width: $w;
    max-width: 100%;
    margin: 0 auto;
}

.home-recommend {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    &__item img {
        width: 280px;
        height: 180px;
    }
}



/*** slide *****/
.slide {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: $height;
    max-height: $height;
    &:hover {
        &__action {
            display: block;
        }
    }
    &__container {
        overflow: hidden;
        li {
            display: none;
        }
        .active {
            display: block;
        }
    }
    &__action {
        //display: none;
        a {
            $w: 40px;
            position: absolute;
            top: 50%;
            transform: translate(0, -$w/2);
            display: block;
            width: $w;
            height: $w;
            background: rgba(0,0,0,0.6);
            line-height: $w;
            text-align: center;
            color: #fff;
            &:first-child {
                left: 0;
            }
            &:last-child {
                right: 0;
            }
        }
    }
    &__nav {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 10px;
        li {
            display: inline-block;
        }
        a {
            $w: 15px;
            display: block;
            width: $w;
            height: $w;
            margin: 0 2px;
            border-radius: $w;
            background: #ccc;
        }
        .active {
            background: #999;
        }
    }
}
